.app {
    width: 40%;
    margin: 0 auto;
    height: 100vh;
}

@media (max-width: 767px) {
    .app {
        width: 90%;
    }
}

.logo img {
    width: 130px;
}

.logo {
    text-align: center;
    margin-bottom: 1rem;
}

.logo h3 {
    color: #218DFD;
}